body {
    background-color: lightcyan;
} 
h1 {
    text-align: center;
    color: red;
    text-shadow: 0 0 2px white;
}

@keyframes youpi{
    0% {transform: translate(0,0);}
    25%{transform: translate(0,-10px);}
    100%{transform: translate(0,-20px);}
}

.dragon{
    width: 108px;
    height: 108px;
    background-image: url('../img/dragon.gif');
}
.dragon:hover{
   animation-duration: 0.2s;
   animation-name: youpi;
   animation-iteration-count: 5;
}

.singe{
    width: 120px;
    height: 120px;
    background-image: url('../img/monkey.gif');
}

.singe:hover{
   animation-duration: 0.4s;
   animation-name: youpi;
   animation-iteration-count: 4;
}

.soleil{
    width: 108px;
    height: 108px;
    background-image: url('../img/suncloud.png');
}
.nuage{
    width: 108px;
    height: 108px;
    background-image: url('../img/cloudsnow.gif');
}

.ciel{
    width: 108px;
    height: 108px;
}

.sapin{
    width: 120px;
    height: 120px;
    background-image: url('../img/snowman.gif');
}

@keyframes bourdon {
    0% {background-position: 540px 0; }
    100% {background-position: -40px 0; }
}

@keyframes automne {
    0% {background-position: 0 0; }
    100% {background-position: 0 432px; }
}

.abeille{
    width: 108px;
    height: 108px;
    background-image: url('../img/dove.gif');
    transform: translation(300px);
}

.cielAnim{
    width: 540px;
    height: 54px;
    background-image: url('../img/dove.gif');
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: 540px 0;
    animation: bourdon 20s linear infinite;
}

.feuilles{
    width: 108px;
    height: 432px;
    background-image: url('../img/snowflake.gif');
    background-repeat: no-repeat;
    animation: automne 14.14s linear infinite;
}
