body {
    background-color: orange;
} 
.porte {
    display: inline-block;
    width: 216px;
    height: 216px;
    background-image: url('../img/door.png');
    background-size: 216px;
}
th {
    font-size: 320%;
    color: lightgreen;
    text-shadow: 0 0 2px black;
}
h1 {
    text-align: center;
    color: lightblue;
    text-shadow: 0 0 2px blue;
}

.dragon{
    width: 108px;
    height: 108px;
    background-image: url('../img/dragon.png');
}

.singe{
    width: 120px;
    height: 120px;
    background-image: url('../img/monkey.png');
}

.parchemin{
    width: 160px;
    border: 2px outset brown;
    background-color: rgba(128,128,0,0.5);
    border-radius: 10px;
    box-shadow: 5px 3px 8px rgba(1,1,1,0.2);
}

#temple{ 
#    border-top: 2px solid brown;
    border-right: 3px outset brown;
    border-bottom: none;
    border-left: 3px inset brown;
    border-collapse: collapse; 
    border-spacing: 0; 
    background-color: yellow;
}
#temple:hover{cursor: zoom-in;}

.ici {background-color:lightyellow}
.fefe,.feff,.fehe,.fehf,.fefh,.fehh,.fffe,.ffhe,.ffhh,.fhfe,.fhhe,.hefe,.heff,.hehe,.hehh,.hffe,.hfhh,.hhfe,.hhhe,.hhhf,.hhhh { 
    width: 24px; 
    height: 24px; 
    padding: 0; 
    min-width: 24px;
    font-size: 14px;
}

.fefe{ background-image: url('../img/fefe.png');  }
.feff{ background-image: url('../img/feff.png');  }
.fefh{ background-image: url('../img/fefh.png');  }
.fehe{ background-image: url('../img/fehe.png');  }
.fehf{ background-image: url('../img/fehf.png');  }
.fehh{ background-image: url('../img/fehh.png');  }
.fffe{ background-image: url('../img/fffe.png');  }
.ffhe{ background-image: url('../img/ffhe.png');  }
.ffhh{ background-image: url('../img/ffhh.png');  }
.fhfe{ background-image: url('../img/fhfe.png');  }
.fhhe{ background-image: url('../img/fhhe.png');  }
.hefe{ background-image: url('../img/hefe.png');  }
.heff{ background-image: url('../img/heff.png');  }
.hehe{ background-image: url('../img/hehe.png');  }
.hehh{ background-image: url('../img/hehh.png');  }
.hffe{ background-image: url('../img/hffe.png');  }
.hfhh{ background-image: url('../img/hfhh.png');  }
.hhfe{ background-image: url('../img/hhfe.png');  }
.hhhe{ background-image: url('../img/hhhe.png');  }
.hhhf{ background-image: url('../img/hhhf.png');  }
.hhhh{ background-image: url('../img/hhhh.png');  }


.X{
    background-image: url('../img/X.png');
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

